.login-form{
    position: absolute;
    top: 40%;
    right: 50%;
}

.login-form *{
    display: block;
    margin-bottom: 5px;
    height: 20px;
}

#login-btn{
    width: 50%;
    border-radius: 3px;
    margin: 0 auto;
}

.race{
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.timerBefore{
    text-align: center;
}

.timerAfter{
    text-align: center;
    display: none;
}
.txt-time{
    float: right;
}

.timerIn{
    display: none;
    float: right;
    text-align: center;
}

.timerIn *{
    display: block;
}

#racers *{
    margin: 0 auto;
    text-align: center;
}

.past {
    text-decoration: line-through;
}

.next {
    font-weight: bold;
}

#text{
    display: none;
}

#messageBox{
    padding: 30px;
    margin: 30px;
    border: 3px solid black;
    text-align: center;
}